:root {
  --color-background-main: #242424;
  --color-background-stronger: #0c0c0c;
  --color-text-main: #b4b4b4;
  --color-text-stronger: #d6d6d6;
  --color-accent: #ba124a;
  --color-bookmarklet-icon: #fff;
}

html {
  background: var(--color-background-main);
  color: var(--color-text-main);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

ol,
ul {
  list-style: none;
}
