:root {
  --color-background-main: #242424;
  --color-background-stronger: #0c0c0c;
  --color-text-main: #b4b4b4;
  --color-text-stronger: #d6d6d6;
  --color-accent: #ba124a;
  --color-bookmarklet-icon: #fff;
}

@media(prefers-color-scheme: light) {
  :root {
    --color-background-main: #e1e1e1;
    --color-background-stronger: #fff;
    --color-text-main: #0f0f0f;
    --color-text-stronger: #e1e1e1;
    --color-accent: #ba124a;
    --color-bookmarklet-icon: #0f0f0f;
  }
}

html {
  background: var(--color-background-main);
  color: var(--color-text-main);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/*
 * Hide decorations in search fields (they don't look nice on dark background in newer Chrome versions
 * and are not really necessary)
 * source: https://blog.maximerouiller.com/post/remove-the-x-from-internet-explorer-and-chrome-input-type-search/
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
